<html>

    <head>
        <title>PhoneBook - Login</title>

        <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

        <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    </head>

    <body style="height: 100%;">

        <div class="container " style="height: 100%;">

            <div class="row align-items-center" style="height: 100%;">


                <div class="row">

                    {% if not pesan == None %}

                        <div>
                            <div class="row justify-content-evenly align-items-center">
                                <div class="col-sm-3">
                                    Pesan = {{ pesan }}
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    <form method='POST' action='/hello/'>

                        {% csrf_token %}

                        <!-- username -->
                        <div class="row justify-content-evenly align-items-center mt-5">
                            <div class="col-sm-3">
                                <div class="row">

                                    <div class="col-form-label col-sm-3">Username</div>

                                    <div class="col-sm-9">
                                        <input name='username' class="form-control" type="text"/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- password -->
                        <div class="row justify-content-evenly align-items-center mt-1">
                            <div class="col-sm-3">
                                <div class="row">

                                    <div class="col-form-label col-sm-3">Password</div>

                                    <div class="col-sm-9">
                                        <input name='password' class="form-control" type="password"/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- tombol submit -->
                        <div class="row justify-content-evenly align-items-center mt-1">
                            <div class="col-sm-3">
                                <div class="row justify-content-evenly align-items-center">

                                    <div class="col-sm-3"></div>

                                    <div class="col-sm-9">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </body>

</html>